
<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
      <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".movies-cat">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse movies-cat">
          <div class="panel-heading"></div>
          <ul class="nav nav-stacked">
            <a routerLink="/genres/{{genre.id}}/{{genre.name}}" routerLinkActive="active" class="list-group-item" *ngFor="let genre of genres">{{genre.name}}</a>
          </ul>
        </div>
      
      </nav>
    </div>
<div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">

<div *ngIf="series">
  <h3 class="orange-text">Popular Series</h3>
  <div class="row is-flex">
    <div class="col-sm-6 col-md-4 col-lg-3 col-xs-6" *ngFor="let serie of series; let i = index;">
      <div class="thumbnail card-2">
        <img src="https://image.tmdb.org/t/p/w300/{{serie.poster_path}}" *ngIf="serie.poster_path">
        <img src="assets/img/abstract-image.jpg" *ngIf="!serie.poster_path">
        <div class="caption">
          <h4 class="text-ellipsis">
            <a routerLink="/tv/{{serie.id}}" title="{{serie.title}}">{{serie.name}}</a>
          </h4>
          <p><strong>First Air Date: </strong>{{serie.first_air_date}}</p>
          <p>
            <a routerLink="/tv/{{serie.id}}">View details &raquo;</a>
            <small class="label label-success pull-right">
              {{serie.vote_average}}
              <i class="glyphicon glyphicon-star"></i>
            </small>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

</div>
