<a routerLink="/movie/{{movie.id}}">
<div class="thumbnail card-2">
  <img src="https://image.tmdb.org/t/p/w300/{{movie.poster_path}}" *ngIf="movie.poster_path">
  <img src="assets/img/abstract-image.jpg" *ngIf="!movie.poster_path">
  <div class="caption">
    <h3 class="text-ellipsis" >
      <a routerLink="/movie/{{movie.id}}" title="{{movie.title}}">{{movie.title}}</a>
    </h3>
    <p><strong>Release Date: </strong>{{movie.release_date}}</p>
    <p>
      
      <small class="label label-success pull-right" *ngIf="movie.vote_average">
        {{movie.vote_average}}
        <i class="glyphicon glyphicon-star"></i>
        
      </small>
      <i class="fa fa-thumbs-o-up"></i>1456
      <i class="fa fa-commenting"></i>32
    </p>
  </div>
</div>
</a>

