
<div class="col-md-3 col-lg-3 col-sm-12 col-xs-12 card-4 fixed" >
   <div class='img-fan'> <img src="{{movie.heroImg}}" alt="" *ngIf='movie'></div>
   <i class="fa fa-heart dev"></i><span class='data'></span> 
   <i class="fa fa-commenting dev "></i><span class='data'></span> 
   <i class="fa fa-share-alt dev "></i>
   </div>
<div class="col-md-2 col-lg-2 col-sm-12 col-xs-12  pull-right">

</div>

<div class="col-md-7 col-lg-7 col-sm-12 col-xs-12 white pull-right">
 <img src="{{movie.imageUrl}}" alt="" *ngIf='movie' class="thumbnail card-4">
</div>


<div class="col-md-7 col-lg-7 col-sm-12 col-xs-12 col-md-offset-3 col-lg-offset-3 topContent" *ngIf="movie">
 <h1>{{movie.title}}</h1>
 <p [innerHTML]="movie.overview"></p>
</div>







<div class="col-md-7 col-lg-7 col-sm-7 col-xs-7 col-md-offset-3 col-lg-offset-3" *ngIf="movie">
    <div class='container'>
        <h1>Cast</h1>
        <div class="row">
     

         <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12 imgContainer">
        <img src="{{movie.heroImg}}" alt="" *ngIf='movie'>
         <span class='tit'>{{movie.hero}}</span>
        </div>
        
        <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12 imgContainer">
         <img src="{{movie.heroineImg}}" alt="" *ngIf='movie'>
         <span class='tit'>{{movie.heroine}}</span>
        </div>

        <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12 imgContainer" *ngFor="let actors of movie.Actors">
           <img src="{{actors.img}}" alt="" *ngIf='movie'>
         <span class='tit'>{{actors.name}}</span>
        </div>          
         </div>
    </div>
 </div>

 <div class="col-md-7 col-lg-7 col-sm-7 col-xs-7 col-md-offset-3 col-lg-offset-3" *ngIf="movie">
    <div class='container'>
        <h1>Crew</h1>
        <div class="row">       

        <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12 imgContainer" *ngFor="let dir of movie.director">
           <img src="{{dir.img}}" alt="" *ngIf='movie'>
         <span class='tit'>{{dir.name}}</span>
        </div>

        <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12 imgContainer" *ngFor="let dir of movie.music">
         <img src="{{dir.img}}" alt="" *ngIf='movie'>
         <span class='tit'>{{dir.name}}</span>
        </div>

        <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12 imgContainer" *ngFor="let dir of movie.Screenplay">
         <img src="{{dir.img}}" alt="" *ngIf='movie'>
         <span class='tit'>{{dir.name}}</span>
        </div>

        <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12 imgContainer" *ngFor="let dir of movie.producer">
         <img src="{{dir.img}}" alt="" *ngIf='movie'>
         <span class='tit'>{{dir.name}}</span>
        </div>

        <div class="col-md-3 col-lg-3 col-sm-3 col-xs-12 imgContainer" >
        <img src="{{movie.camImg}}" alt="" *ngIf='movie'>
         <span class='tit'>{{movie.camera}}</span>
        </div>        
         </div>
    </div>
 </div>


 <div class="col-md-7 col-lg-7 col-sm-7 col-xs-7 col-md-offset-3 col-lg-offset-3" *ngIf="movie">
    <div class='container'>
        <h1>Trailors</h1>
        <div class="row">
            <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12" *ngFor="let vid of trailers">
            <div  class=" border" [innerHTML]="vid">          
         
            </div>
          
</div>

            

           
        </div>
    </div>
 </div>


 <div class="col-md-7 col-lg-7 col-sm-7 col-xs-7 col-md-offset-3 col-lg-offset-3" *ngIf="movie">
    <div class='container'>
        <h1>Music Videos</h1>
        <div class="row">
            <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12" *ngFor="let vid of musicvideos">
            <div  class=" border" [innerHTML]="vid">          
            
            </div>
            
            
</div>

            

           
        </div>
    </div>
 </div>


 


