img {
    width: 100%;
}

.m-r-md {
    margin-right: 5px;
}
.card-2 {
  

   
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
 }
 .thumbnail
 {
 	border:none!important;
 }
.card-2:hover
{
	 box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 8px 8px rgba(0,0,0,0.22);
}
a
{
	color:#000;
}
a:hover
{
	color:#f31d12;
}
.gap
{
	width:100%;
	height:60px;
	}

.label-info[href]:hover, .label-info[href]:focus,.label-info[href] {
    background-color: #f31d12!important;
    color:#fff!important;
}

.ppSide
{
	height:100vh;
	/*background-color: rgb(0, 171, 192);*/
	position:fixed;
	left:0;
	top:0;
	width:30%;
}
p
{
	font-size:1.2em;
}
@media only screen and (max-width:1220px)
{
	.ppSide
	{
		position:relative;
		width:100%;
		height:100%;	
		margin-bottom:20px;
		padding:20px;
		margin-left:auto;
		margin-right:auto;
	}
	.card-2
	{
		height:100%;
		padding:20px;
	}
	.ppSide img
	{
		width:100%;
		height:90%;
	}
	.display
	{
		display:none;
	}
}